/*------------------------------------*\
    #INLINE-TYPES
\*------------------------------------*/

/**
 * Style for inline text classes
 */

.small {
  @extend %small;
}


.strong {
  @extend %strong;
}
