/*------------------------------------*\
    #POU7
\*------------------------------------*/

/**
 * Welcome in Pou7's styles
 */





/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/


$inuit-base-font-size:          20px !default;
$inuit-base-line-height:        28px !default;
@import "bower_components/inuit-defaults/settings.defaults";





/*------------------------------------*\
    #TOOLS
\*------------------------------------*/


@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";





/*------------------------------------*\
    #GENERIC
\*------------------------------------*/


@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";





/*------------------------------------*\
    #PAGE
\*------------------------------------*/


@import "bower_components/inuit-page/base.page";

$base-font-family:  "chaparral-pro",Georgia,serif;
@import "base.page";

$inuit-heading-size-1:  52px;
$inuit-heading-size-2:  40px;
$inuit-heading-size-3:  30px;
$inuit-heading-size-4:  28px;
$inuit-heading-size-5:  22px;
$inuit-heading-size-6:  18px;
@import "bower_components/inuit-headings/base.headings";

$base-heading-font-family: "bello-pro";
$base-heading-color:       #556270;
@import "base.headings";





/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/


/* nothing here */





/*------------------------------------*\
    #COMPONMENT
\*------------------------------------*/


/* nothing here */





/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/


/* nothing here */
