<div class="navigation" id="js-navigation">
  <div class="navigation__toggle">
    <img data-src="https://dlgjp9x71cipk.cloudfront.net/assets/iconic/1.7.0/svg/smart/menu.svg" class="iconic navigation__icon navigation__icon--open" aria-hidden="true"/><!--
 --><img data-src="https://dlgjp9x71cipk.cloudfront.net/assets/iconic/1.7.0/svg/smart/x.svg" class="iconic navigation__icon navigation__icon--close" aria-hidden="true"/>
  </div>
  <ul class="navigation__list">
    <li class="navigation__item">
      <a href="/" class="navigation__link">Accueil</a>
    </li>
    <li class="navigation__item">
      <a href="/a-propos.html" class="navigation__link">&Agrave; propos</a>
    </li>
    </li>
    <li class="navigation__item">
      <a href="/places-de-jeux.html" class="navigation__link">Places de jeux</a>
    </li>
  </ul>
</div>
