---
layout: playground-map
---
<article>

  <header>
    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}

  {% if page.map.files %}
  <h2>Carte</h2>

  <figure>
    <div class="map" id="map"></div>
    <figcaption>
      <p>
        Carte de la ballade
      </p>
    </figcaption>
  </figure>
  {% endif %}

  {% if page.map.files %}
  <h2>Fichiers &agrave; t&eacute;l&eacute;charger</h2>

  <ul>
    {% if page.map.files.geojson %}
    <li>
      <a href="{{ page.files.geojson }}">Fichier GeoJSON</a>
    </li>
    {% endif %}
    {% if page.map.files.kml %}
    <li>
      <a href="{{ page.files.kml }}">Fichier KML</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}

  <hr>

  <footer>
    <h2 class="zeta">&Agrave; propos</h2>
    <p class="small">
      {% if page.author %}Ce parcours vous est proposé par <a href="{{ page.author.url }}">{{ page.author.name }}</a>. {% endif %}Il a été publié le <time datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>.
      </p>
  </footer>

</article>

{% if page.map.files %}
<!-- Mapbox script -->
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiYWxpZW5sZWJhcmdlIiwiYSI6Ik1hN3ZxVjgifQ.S2hbxqNnn7kU7HRnd6jYVg';
var map = L.mapbox.map('map', 'alienlebarge.jdm290mc')
    .setView([{{ page.map.lat }}, {{ page.map.long }}], {{ page.map.zoom }});

var featureLayer = L.mapbox.featureLayer()
    .loadURL('{{ page.map.files.geojson }}')
    .addTo(map);
</script>
{% endif %}
